/* !important is required so the background will have an effect when printing */
.status-color-orange {
    background-color: #fdab3d !important;
    border-bottom-color: #E99729;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-orange .menu-dog-ear-color {
    color: #fdab3d;
}
/* !important is required so the background will have an effect when printing */
.status-color-green-shadow {
    background-color: #00c875 !important;
    border-bottom-color: #00B461;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-green-shadow .menu-dog-ear-color {
    color: #00c875;
}
/* !important is required so the background will have an effect when printing */
.status-color-red-shadow {
    background-color: #e2445c !important;
    border-bottom-color: #CE3048;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-red-shadow .menu-dog-ear-color {
    color: #e2445c;
}
/* !important is required so the background will have an effect when printing */
.status-color-blue-links {
    background-color: #0086c0 !important;
    border-bottom-color: #3DB0DF;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-blue-links .menu-dog-ear-color {
    color: #0086c0;
}
/* !important is required so the background will have an effect when printing */
.status-color-bright-blue {
    background-color: #579bfc !important;
    border-bottom-color: #4387E8;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-bright-blue .menu-dog-ear-color {
    color: #579bfc;
}
/* !important is required so the background will have an effect when printing */
.status-color-purple {
    background-color: #a25ddc !important;
    border-bottom-color: #9238AF;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-purple .menu-dog-ear-color {
    color: #a25ddc;
}
/* !important is required so the background will have an effect when printing */
.status-color-grass-green {
    background-color: #037f4c !important;
    border-bottom-color: #006B38;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-grass-green .menu-dog-ear-color {
    color: #037f4c;
}
/* !important is required so the background will have an effect when printing */
.status-color-mustered {
    background-color: #CAB641 !important;
    border-bottom-color: #C0AB31;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-mustered .menu-dog-ear-color {
    color: #CAB641;
}
/* !important is required so the background will have an effect when printing */
.status-color-yellow {
    background-color: #FFCB00 !important;
    border-bottom-color: #C0AB1B;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-yellow .menu-dog-ear-color {
    color: #FFCB00;
}
/* !important is required so the background will have an effect when printing */
.status-color-soft-black {
    background-color: #333333 !important;
    border-bottom-color: #000;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-soft-black .menu-dog-ear-color {
    color: #333333;
}
/* !important is required so the background will have an effect when printing */
.status-color-grey {
    background-color: #c4c4c4 !important;
    border-bottom-color: #B0B0B0;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-grey .menu-dog-ear-color {
    color: #c4c4c4;
}
/* !important is required so the background will have an effect when printing */
.status-color-dark-red {
    background-color: #BB3354 !important;
    border-bottom-color: #A42D4A;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-dark-red .menu-dog-ear-color {
    color: #BB3354;
}
/* !important is required so the background will have an effect when printing */
.status-color-dark-pink {
    background-color: #FF158A !important;
    border-bottom-color: #E01279;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-dark-pink .menu-dog-ear-color {
    color: #FF158A;
}
/* !important is required so the background will have an effect when printing */
.status-color-light-pink {
    background-color: #FF5AC4 !important;
    border-bottom-color: #E04FAC;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-light-pink .menu-dog-ear-color {
    color: #FF5AC4;
}
/* !important is required so the background will have an effect when printing */
.status-color-dark-purple {
    background-color: #784BD1 !important;
    border-bottom-color: #8F4DC4;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-dark-purple .menu-dog-ear-color {
    color: #784BD1;
}
/* !important is required so the background will have an effect when printing */
.status-color-lime-green {
    background-color: #9CD326 !important;
    border-bottom-color: #89B921;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-lime-green .menu-dog-ear-color {
    color: #9CD326;
}
/* !important is required so the background will have an effect when printing */
.status-color-turquoise {
    background-color: #66CCFF !important;
    border-bottom-color: #5AB3E0;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-turquoise .menu-dog-ear-color {
    color: #66CCFF;
}
/* !important is required so the background will have an effect when printing */
.status-color-trolley-grey {
    background-color: #808080 !important;
    border-bottom-color: #707070;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-trolley-grey .menu-dog-ear-color {
    color: #808080;
}
/* !important is required so the background will have an effect when printing */
.status-color-brown {
    background-color: #7F5347 !important;
    border-bottom-color: #70493E;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-brown .menu-dog-ear-color {
    color: #7F5347;
}
/* !important is required so the background will have an effect when printing */
.status-color-dark-orange {
    background-color: #FF642E !important;
    border-bottom-color: #E05828;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-dark-orange .menu-dog-ear-color {
    color: #FF642E;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color201 {
    background-color: #AC9B3B !important;
    border-bottom-color: #AC9B3B;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color201 .menu-dog-ear-color {
    color: #AC9B3B;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color202 {
    background-color: #B02B58 !important;
    border-bottom-color: #B02B58;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color202 .menu-dog-ear-color {
    color: #B02B58;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color203 {
    background-color: #B43685 !important;
    border-bottom-color: #B43685;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color203 .menu-dog-ear-color {
    color: #B43685;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color204 {
    background-color: #CF701F !important;
    border-bottom-color: #CF701F;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color204 .menu-dog-ear-color {
    color: #CF701F;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color205 {
    background-color: #709D36 !important;
    border-bottom-color: #709D36;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color205 .menu-dog-ear-color {
    color: #709D36;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color206 {
    background-color: #222D75 !important;
    border-bottom-color: #222D75;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color206 .menu-dog-ear-color {
    color: #222D75;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color207 {
    background-color: #7BB62D !important;
    border-bottom-color: #7BB62D;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color207 .menu-dog-ear-color {
    color: #7BB62D;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color208 {
    background-color: #703A8C !important;
    border-bottom-color: #703A8C;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color208 .menu-dog-ear-color {
    color: #703A8C;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color209 {
    background-color: #7F2443 !important;
    border-bottom-color: #7F2443;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color209 .menu-dog-ear-color {
    color: #7F2443;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color210 {
    background-color: #D8331E !important;
    border-bottom-color: #D8331E;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color210 .menu-dog-ear-color {
    color: #D8331E;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color211 {
    background-color: #8F1680 !important;
    border-bottom-color: #8F1680;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color211 .menu-dog-ear-color {
    color: #8F1680;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color212 {
    background-color: #868808 !important;
    border-bottom-color: #868808;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color212 .menu-dog-ear-color {
    color: #868808;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color213 {
    background-color: #19A322 !important;
    border-bottom-color: #19A322;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color213 .menu-dog-ear-color {
    color: #19A322;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color214 {
    background-color: #D68857 !important;
    border-bottom-color: #D68857;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color214 .menu-dog-ear-color {
    color: #D68857;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color215 {
    background-color: #B24394 !important;
    border-bottom-color: #B24394;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color215 .menu-dog-ear-color {
    color: #B24394;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color216 {
    background-color: #AC7C3B !important;
    border-bottom-color: #AC7C3B;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color216 .menu-dog-ear-color {
    color: #AC7C3B;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color217 {
    background-color: #297754 !important;
    border-bottom-color: #297754;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color217 .menu-dog-ear-color {
    color: #297754;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color218 {
    background-color: #6F311A !important;
    border-bottom-color: #6F311A;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color218 .menu-dog-ear-color {
    color: #6F311A;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color219 {
    background-color: #AC413B !important;
    border-bottom-color: #AC413B;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color219 .menu-dog-ear-color {
    color: #AC413B;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color220 {
    background-color: #C87031 !important;
    border-bottom-color: #C87031;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color220 .menu-dog-ear-color {
    color: #C87031;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color221 {
    background-color: #A4C61E !important;
    border-bottom-color: #A4C61E;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color221 .menu-dog-ear-color {
    color: #A4C61E;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color222 {
    background-color: #9D5921 !important;
    border-bottom-color: #9D5921;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color222 .menu-dog-ear-color {
    color: #9D5921;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color223 {
    background-color: #1E7579 !important;
    border-bottom-color: #1E7579;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color223 .menu-dog-ear-color {
    color: #1E7579;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color224 {
    background-color: #266F5F !important;
    border-bottom-color: #266F5F;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color224 .menu-dog-ear-color {
    color: #266F5F;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color225 {
    background-color: #69BA1C !important;
    border-bottom-color: #69BA1C;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color225 .menu-dog-ear-color {
    color: #69BA1C;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color226 {
    background-color: #256C62 !important;
    border-bottom-color: #256C62;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color226 .menu-dog-ear-color {
    color: #256C62;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color227 {
    background-color: #AB831F !important;
    border-bottom-color: #AB831F;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color227 .menu-dog-ear-color {
    color: #AB831F;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color228 {
    background-color: #80A21D !important;
    border-bottom-color: #80A21D;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color228 .menu-dog-ear-color {
    color: #80A21D;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color229 {
    background-color: #2A526F !important;
    border-bottom-color: #2A526F;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color229 .menu-dog-ear-color {
    color: #2A526F;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color230 {
    background-color: #77296E !important;
    border-bottom-color: #77296E;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color230 .menu-dog-ear-color {
    color: #77296E;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color231 {
    background-color: #ABD841 !important;
    border-bottom-color: #ABD841;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color231 .menu-dog-ear-color {
    color: #ABD841;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color232 {
    background-color: #1B5C8B !important;
    border-bottom-color: #1B5C8B;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color232 .menu-dog-ear-color {
    color: #1B5C8B;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color233 {
    background-color: #1A5A51 !important;
    border-bottom-color: #1A5A51;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color233 .menu-dog-ear-color {
    color: #1A5A51;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color234 {
    background-color: #EFC55A !important;
    border-bottom-color: #EFC55A;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color234 .menu-dog-ear-color {
    color: #EFC55A;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color235 {
    background-color: #AC843B !important;
    border-bottom-color: #AC843B;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color235 .menu-dog-ear-color {
    color: #AC843B;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color236 {
    background-color: #D6A057 !important;
    border-bottom-color: #D6A057;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color236 .menu-dog-ear-color {
    color: #D6A057;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color237 {
    background-color: #5C8008 !important;
    border-bottom-color: #5C8008;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color237 .menu-dog-ear-color {
    color: #5C8008;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color238 {
    background-color: #887408 !important;
    border-bottom-color: #887408;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color238 .menu-dog-ear-color {
    color: #887408;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color239 {
    background-color: #23904F !important;
    border-bottom-color: #23904F;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color239 .menu-dog-ear-color {
    color: #23904F;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color240 {
    background-color: #AC6E3B !important;
    border-bottom-color: #AC6E3B;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color240 .menu-dog-ear-color {
    color: #AC6E3B;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color241 {
    background-color: #5F1635 !important;
    border-bottom-color: #5F1635;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color241 .menu-dog-ear-color {
    color: #5F1635;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color242 {
    background-color: #307E7E !important;
    border-bottom-color: #307E7E;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color242 .menu-dog-ear-color {
    color: #307E7E;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color243 {
    background-color: #AAAC3B !important;
    border-bottom-color: #AAAC3B;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color243 .menu-dog-ear-color {
    color: #AAAC3B;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color244 {
    background-color: #6F3D1A !important;
    border-bottom-color: #6F3D1A;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color244 .menu-dog-ear-color {
    color: #6F3D1A;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color245 {
    background-color: #155C5F !important;
    border-bottom-color: #155C5F;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color245 .menu-dog-ear-color {
    color: #155C5F;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color246 {
    background-color: #148273 !important;
    border-bottom-color: #148273;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color246 .menu-dog-ear-color {
    color: #148273;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color247 {
    background-color: #145324 !important;
    border-bottom-color: #145324;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color247 .menu-dog-ear-color {
    color: #145324;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color248 {
    background-color: #228A5B !important;
    border-bottom-color: #228A5B;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color248 .menu-dog-ear-color {
    color: #228A5B;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color249 {
    background-color: #3D5A8B !important;
    border-bottom-color: #3D5A8B;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color249 .menu-dog-ear-color {
    color: #3D5A8B;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color250 {
    background-color: #6F1C1A !important;
    border-bottom-color: #6F1C1A;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color250 .menu-dog-ear-color {
    color: #6F1C1A;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color251 {
    background-color: #333C76 !important;
    border-bottom-color: #333C76;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color251 .menu-dog-ear-color {
    color: #333C76;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color252 {
    background-color: #D15650 !important;
    border-bottom-color: #D15650;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color252 .menu-dog-ear-color {
    color: #D15650;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color253 {
    background-color: #6F411A !important;
    border-bottom-color: #6F411A;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color253 .menu-dog-ear-color {
    color: #6F411A;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color254 {
    background-color: #6A0645 !important;
    border-bottom-color: #6A0645;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color254 .menu-dog-ear-color {
    color: #6A0645;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color255 {
    background-color: #388A78 !important;
    border-bottom-color: #388A78;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color255 .menu-dog-ear-color {
    color: #388A78;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color256 {
    background-color: #1F6B33 !important;
    border-bottom-color: #1F6B33;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color256 .menu-dog-ear-color {
    color: #1F6B33;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color257 {
    background-color: #AC663B !important;
    border-bottom-color: #AC663B;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color257 .menu-dog-ear-color {
    color: #AC663B;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color258 {
    background-color: #880E08 !important;
    border-bottom-color: #880E08;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color258 .menu-dog-ear-color {
    color: #880E08;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color259 {
    background-color: #6EB32C !important;
    border-bottom-color: #6EB32C;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color259 .menu-dog-ear-color {
    color: #6EB32C;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color260 {
    background-color: #759D00 !important;
    border-bottom-color: #759D00;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color260 .menu-dog-ear-color {
    color: #759D00;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color261 {
    background-color: #D1BD50 !important;
    border-bottom-color: #D1BD50;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color261 .menu-dog-ear-color {
    color: #D1BD50;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color262 {
    background-color: #475193 !important;
    border-bottom-color: #475193;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color262 .menu-dog-ear-color {
    color: #475193;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color263 {
    background-color: #884208 !important;
    border-bottom-color: #884208;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color263 .menu-dog-ear-color {
    color: #884208;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color264 {
    background-color: #906329 !important;
    border-bottom-color: #906329;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color264 .menu-dog-ear-color {
    color: #906329;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color265 {
    background-color: #C87731 !important;
    border-bottom-color: #C87731;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color265 .menu-dog-ear-color {
    color: #C87731;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color266 {
    background-color: #2C8142 !important;
    border-bottom-color: #2C8142;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color266 .menu-dog-ear-color {
    color: #2C8142;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color267 {
    background-color: #A65F00 !important;
    border-bottom-color: #A65F00;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color267 .menu-dog-ear-color {
    color: #A65F00;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color268 {
    background-color: #CF681F !important;
    border-bottom-color: #CF681F;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color268 .menu-dog-ear-color {
    color: #CF681F;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color269 {
    background-color: #E3E645 !important;
    border-bottom-color: #E3E645;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color269 .menu-dog-ear-color {
    color: #E3E645;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color270 {
    background-color: #2E8834 !important;
    border-bottom-color: #2E8834;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color270 .menu-dog-ear-color {
    color: #2E8834;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color271 {
    background-color: #A33E7E !important;
    border-bottom-color: #A33E7E;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color271 .menu-dog-ear-color {
    color: #A33E7E;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color272 {
    background-color: #385C99 !important;
    border-bottom-color: #385C99;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color272 .menu-dog-ear-color {
    color: #385C99;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color273 {
    background-color: #9D8A21 !important;
    border-bottom-color: #9D8A21;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color273 .menu-dog-ear-color {
    color: #9D8A21;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color274 {
    background-color: #621730 !important;
    border-bottom-color: #621730;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color274 .menu-dog-ear-color {
    color: #621730;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color275 {
    background-color: #B61B50 !important;
    border-bottom-color: #B61B50;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color275 .menu-dog-ear-color {
    color: #B61B50;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color276 {
    background-color: #564190 !important;
    border-bottom-color: #564190;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color276 .menu-dog-ear-color {
    color: #564190;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color277 {
    background-color: #2E7607 !important;
    border-bottom-color: #2E7607;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color277 .menu-dog-ear-color {
    color: #2E7607;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color278 {
    background-color: #C84E31 !important;
    border-bottom-color: #C84E31;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color278 .menu-dog-ear-color {
    color: #C84E31;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color279 {
    background-color: #528125 !important;
    border-bottom-color: #528125;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color279 .menu-dog-ear-color {
    color: #528125;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color280 {
    background-color: #A67700 !important;
    border-bottom-color: #A67700;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color280 .menu-dog-ear-color {
    color: #A67700;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color281 {
    background-color: #C24A64 !important;
    border-bottom-color: #C24A64;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color281 .menu-dog-ear-color {
    color: #C24A64;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color282 {
    background-color: #250F5D !important;
    border-bottom-color: #250F5D;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color282 .menu-dog-ear-color {
    color: #250F5D;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color283 {
    background-color: #13502B !important;
    border-bottom-color: #13502B;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color283 .menu-dog-ear-color {
    color: #13502B;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color284 {
    background-color: #3D698A !important;
    border-bottom-color: #3D698A;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color284 .menu-dog-ear-color {
    color: #3D698A;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color285 {
    background-color: #104143 !important;
    border-bottom-color: #104143;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color285 .menu-dog-ear-color {
    color: #104143;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color286 {
    background-color: #1A7A26 !important;
    border-bottom-color: #1A7A26;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color286 .menu-dog-ear-color {
    color: #1A7A26;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color287 {
    background-color: #3D6317 !important;
    border-bottom-color: #3D6317;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color287 .menu-dog-ear-color {
    color: #3D6317;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color288 {
    background-color: #2E4772 !important;
    border-bottom-color: #2E4772;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color288 .menu-dog-ear-color {
    color: #2E4772;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color289 {
    background-color: #2E8639 !important;
    border-bottom-color: #2E8639;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color289 .menu-dog-ear-color {
    color: #2E8639;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color290 {
    background-color: #2A878B !important;
    border-bottom-color: #2A878B;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color290 .menu-dog-ear-color {
    color: #2A878B;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color291 {
    background-color: #298A8A !important;
    border-bottom-color: #298A8A;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color291 .menu-dog-ear-color {
    color: #298A8A;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color292 {
    background-color: #1E673B !important;
    border-bottom-color: #1E673B;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color292 .menu-dog-ear-color {
    color: #1E673B;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color293 {
    background-color: #6F4A1A !important;
    border-bottom-color: #6F4A1A;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color293 .menu-dog-ear-color {
    color: #6F4A1A;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color294 {
    background-color: #773399 !important;
    border-bottom-color: #773399;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color294 .menu-dog-ear-color {
    color: #773399;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color295 {
    background-color: #5B8326 !important;
    border-bottom-color: #5B8326;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color295 .menu-dog-ear-color {
    color: #5B8326;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color296 {
    background-color: #903529 !important;
    border-bottom-color: #903529;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color296 .menu-dog-ear-color {
    color: #903529;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color297 {
    background-color: #446518 !important;
    border-bottom-color: #446518;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color297 .menu-dog-ear-color {
    color: #446518;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color298 {
    background-color: #7E0721 !important;
    border-bottom-color: #7E0721;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color298 .menu-dog-ear-color {
    color: #7E0721;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color299 {
    background-color: #CF411F !important;
    border-bottom-color: #CF411F;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color299 .menu-dog-ear-color {
    color: #CF411F;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color300 {
    background-color: #885A08 !important;
    border-bottom-color: #885A08;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color300 .menu-dog-ear-color {
    color: #885A08;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color301 {
    background-color: #71941F !important;
    border-bottom-color: #71941F;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color301 .menu-dog-ear-color {
    color: #71941F;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color302 {
    background-color: #1F7D70 !important;
    border-bottom-color: #1F7D70;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color302 .menu-dog-ear-color {
    color: #1F7D70;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color303 {
    background-color: #E64D45 !important;
    border-bottom-color: #E64D45;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color303 .menu-dog-ear-color {
    color: #E64D45;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color304 {
    background-color: #207126 !important;
    border-bottom-color: #207126;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color304 .menu-dog-ear-color {
    color: #207126;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color305 {
    background-color: #905429 !important;
    border-bottom-color: #905429;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color305 .menu-dog-ear-color {
    color: #905429;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color306 {
    background-color: #D18C50 !important;
    border-bottom-color: #D18C50;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color306 .menu-dog-ear-color {
    color: #D18C50;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color307 {
    background-color: #AC513B !important;
    border-bottom-color: #AC513B;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color307 .menu-dog-ear-color {
    color: #AC513B;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color308 {
    background-color: #911F37 !important;
    border-bottom-color: #911F37;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color308 .menu-dog-ear-color {
    color: #911F37;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color309 {
    background-color: #246568 !important;
    border-bottom-color: #246568;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color309 .menu-dog-ear-color {
    color: #246568;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color310 {
    background-color: #066912 !important;
    border-bottom-color: #066912;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color310 .menu-dog-ear-color {
    color: #066912;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color311 {
    background-color: #1C6343 !important;
    border-bottom-color: #1C6343;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color311 .menu-dog-ear-color {
    color: #1C6343;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color312 {
    background-color: #2B516F !important;
    border-bottom-color: #2B516F;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color312 .menu-dog-ear-color {
    color: #2B516F;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color313 {
    background-color: #77BD1C !important;
    border-bottom-color: #77BD1C;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color313 .menu-dog-ear-color {
    color: #77BD1C;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color314 {
    background-color: #9B9D21 !important;
    border-bottom-color: #9B9D21;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color314 .menu-dog-ear-color {
    color: #9B9D21;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color315 {
    background-color: #AC6A3B !important;
    border-bottom-color: #AC6A3B;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color315 .menu-dog-ear-color {
    color: #AC6A3B;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color316 {
    background-color: #246568 !important;
    border-bottom-color: #246568;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color316 .menu-dog-ear-color {
    color: #246568;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color317 {
    background-color: #35206C !important;
    border-bottom-color: #35206C;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color317 .menu-dog-ear-color {
    color: #35206C;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color318 {
    background-color: #AC3E3B !important;
    border-bottom-color: #AC3E3B;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color318 .menu-dog-ear-color {
    color: #AC3E3B;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color319 {
    background-color: #8A227E !important;
    border-bottom-color: #8A227E;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color319 .menu-dog-ear-color {
    color: #8A227E;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color320 {
    background-color: #E6CD45 !important;
    border-bottom-color: #E6CD45;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color320 .menu-dog-ear-color {
    color: #E6CD45;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color321 {
    background-color: #902C29 !important;
    border-bottom-color: #902C29;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color321 .menu-dog-ear-color {
    color: #902C29;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color322 {
    background-color: #903D29 !important;
    border-bottom-color: #903D29;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color322 .menu-dog-ear-color {
    color: #903D29;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color323 {
    background-color: #8FA539 !important;
    border-bottom-color: #8FA539;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color323 .menu-dog-ear-color {
    color: #8FA539;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color324 {
    background-color: #CFD150 !important;
    border-bottom-color: #CFD150;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color324 .menu-dog-ear-color {
    color: #CFD150;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color325 {
    background-color: #573B9E !important;
    border-bottom-color: #573B9E;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color325 .menu-dog-ear-color {
    color: #573B9E;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color326 {
    background-color: #6DC83C !important;
    border-bottom-color: #6DC83C;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color326 .menu-dog-ear-color {
    color: #6DC83C;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color327 {
    background-color: #2A7C4B !important;
    border-bottom-color: #2A7C4B;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color327 .menu-dog-ear-color {
    color: #2A7C4B;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color328 {
    background-color: #6F241A !important;
    border-bottom-color: #6F241A;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color328 .menu-dog-ear-color {
    color: #6F241A;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color329 {
    background-color: #155719 !important;
    border-bottom-color: #155719;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color329 .menu-dog-ear-color {
    color: #155719;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color330 {
    background-color: #055252 !important;
    border-bottom-color: #055252;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color330 .menu-dog-ear-color {
    color: #055252;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color331 {
    background-color: #AC483B !important;
    border-bottom-color: #AC483B;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color331 .menu-dog-ear-color {
    color: #AC483B;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color332 {
    background-color: #443176 !important;
    border-bottom-color: #443176;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color332 .menu-dog-ear-color {
    color: #443176;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color333 {
    background-color: #569633 !important;
    border-bottom-color: #569633;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color333 .menu-dog-ear-color {
    color: #569633;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color334 {
    background-color: #4E1A69 !important;
    border-bottom-color: #4E1A69;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color334 .menu-dog-ear-color {
    color: #4E1A69;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color335 {
    background-color: #3F0A5B !important;
    border-bottom-color: #3F0A5B;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color335 .menu-dog-ear-color {
    color: #3F0A5B;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color336 {
    background-color: #CB8C3A !important;
    border-bottom-color: #CB8C3A;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color336 .menu-dog-ear-color {
    color: #CB8C3A;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color337 {
    background-color: #82A238 !important;
    border-bottom-color: #82A238;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color337 .menu-dog-ear-color {
    color: #82A238;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color338 {
    background-color: #905929 !important;
    border-bottom-color: #905929;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color338 .menu-dog-ear-color {
    color: #905929;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color339 {
    background-color: #C83531 !important;
    border-bottom-color: #C83531;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color339 .menu-dog-ear-color {
    color: #C83531;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color340 {
    background-color: #1E3968 !important;
    border-bottom-color: #1E3968;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color340 .menu-dog-ear-color {
    color: #1E3968;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color341 {
    background-color: #317B7E !important;
    border-bottom-color: #317B7E;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color341 .menu-dog-ear-color {
    color: #317B7E;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color342 {
    background-color: #E6AD45 !important;
    border-bottom-color: #E6AD45;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color342 .menu-dog-ear-color {
    color: #E6AD45;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color343 {
    background-color: #862E66 !important;
    border-bottom-color: #862E66;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color343 .menu-dog-ear-color {
    color: #862E66;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color344 {
    background-color: #168F58 !important;
    border-bottom-color: #168F58;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color344 .menu-dog-ear-color {
    color: #168F58;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color345 {
    background-color: #AC6F3B !important;
    border-bottom-color: #AC6F3B;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color345 .menu-dog-ear-color {
    color: #AC6F3B;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color346 {
    background-color: #AC8C3B !important;
    border-bottom-color: #AC8C3B;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color346 .menu-dog-ear-color {
    color: #AC8C3B;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color347 {
    background-color: #16A23B !important;
    border-bottom-color: #16A23B;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color347 .menu-dog-ear-color {
    color: #16A23B;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color348 {
    background-color: #D1A350 !important;
    border-bottom-color: #D1A350;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color348 .menu-dog-ear-color {
    color: #D1A350;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color349 {
    background-color: #1E435C !important;
    border-bottom-color: #1E435C;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color349 .menu-dog-ear-color {
    color: #1E435C;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color350 {
    background-color: #904529 !important;
    border-bottom-color: #904529;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color350 .menu-dog-ear-color {
    color: #904529;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color351 {
    background-color: #4B57A4 !important;
    border-bottom-color: #4B57A4;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color351 .menu-dog-ear-color {
    color: #4B57A4;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color352 {
    background-color: #AA2A60 !important;
    border-bottom-color: #AA2A60;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color352 .menu-dog-ear-color {
    color: #AA2A60;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color353 {
    background-color: #054F52 !important;
    border-bottom-color: #054F52;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color353 .menu-dog-ear-color {
    color: #054F52;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color354 {
    background-color: #801763 !important;
    border-bottom-color: #801763;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color354 .menu-dog-ear-color {
    color: #801763;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color355 {
    background-color: #2B5E82 !important;
    border-bottom-color: #2B5E82;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color355 .menu-dog-ear-color {
    color: #2B5E82;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color356 {
    background-color: #A2C02F !important;
    border-bottom-color: #A2C02F;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color356 .menu-dog-ear-color {
    color: #A2C02F;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color357 {
    background-color: #5A6A19 !important;
    border-bottom-color: #5A6A19;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color357 .menu-dog-ear-color {
    color: #5A6A19;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color358 {
    background-color: #073F6B !important;
    border-bottom-color: #073F6B;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color358 .menu-dog-ear-color {
    color: #073F6B;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color359 {
    background-color: #A0C54B !important;
    border-bottom-color: #A0C54B;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color359 .menu-dog-ear-color {
    color: #A0C54B;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color360 {
    background-color: #D8871E !important;
    border-bottom-color: #D8871E;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color360 .menu-dog-ear-color {
    color: #D8871E;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color361 {
    background-color: #D54060 !important;
    border-bottom-color: #D54060;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color361 .menu-dog-ear-color {
    color: #D54060;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color362 {
    background-color: #35B245 !important;
    border-bottom-color: #35B245;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color362 .menu-dog-ear-color {
    color: #35B245;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color363 {
    background-color: #E68F45 !important;
    border-bottom-color: #E68F45;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color363 .menu-dog-ear-color {
    color: #E68F45;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color364 {
    background-color: #5B2B73 !important;
    border-bottom-color: #5B2B73;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color364 .menu-dog-ear-color {
    color: #5B2B73;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color365 {
    background-color: #2B9748 !important;
    border-bottom-color: #2B9748;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color365 .menu-dog-ear-color {
    color: #2B9748;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color366 {
    background-color: #AC7B3B !important;
    border-bottom-color: #AC7B3B;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color366 .menu-dog-ear-color {
    color: #AC7B3B;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color367 {
    background-color: #10463E !important;
    border-bottom-color: #10463E;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color367 .menu-dog-ear-color {
    color: #10463E;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color368 {
    background-color: #9F374D !important;
    border-bottom-color: #9F374D;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color368 .menu-dog-ear-color {
    color: #9F374D;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color369 {
    background-color: #93325B !important;
    border-bottom-color: #93325B;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color369 .menu-dog-ear-color {
    color: #93325B;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color370 {
    background-color: #195457 !important;
    border-bottom-color: #195457;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color370 .menu-dog-ear-color {
    color: #195457;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color371 {
    background-color: #0D2A5A !important;
    border-bottom-color: #0D2A5A;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color371 .menu-dog-ear-color {
    color: #0D2A5A;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color372 {
    background-color: #9D2721 !important;
    border-bottom-color: #9D2721;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color372 .menu-dog-ear-color {
    color: #9D2721;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color373 {
    background-color: #279D2E !important;
    border-bottom-color: #279D2E;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color373 .menu-dog-ear-color {
    color: #279D2E;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color374 {
    background-color: #40739A !important;
    border-bottom-color: #40739A;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color374 .menu-dog-ear-color {
    color: #40739A;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color375 {
    background-color: #AC5A3B !important;
    border-bottom-color: #AC5A3B;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color375 .menu-dog-ear-color {
    color: #AC5A3B;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color376 {
    background-color: #16954A !important;
    border-bottom-color: #16954A;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color376 .menu-dog-ear-color {
    color: #16954A;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color377 {
    background-color: #768A27 !important;
    border-bottom-color: #768A27;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color377 .menu-dog-ear-color {
    color: #768A27;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color378 {
    background-color: #6DB646 !important;
    border-bottom-color: #6DB646;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color378 .menu-dog-ear-color {
    color: #6DB646;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color379 {
    background-color: #C85A31 !important;
    border-bottom-color: #C85A31;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color379 .menu-dog-ear-color {
    color: #C85A31;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color380 {
    background-color: #EF935A !important;
    border-bottom-color: #EF935A;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color380 .menu-dog-ear-color {
    color: #EF935A;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color381 {
    background-color: #7B2348 !important;
    border-bottom-color: #7B2348;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color381 .menu-dog-ear-color {
    color: #7B2348;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color382 {
    background-color: #679B35 !important;
    border-bottom-color: #679B35;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color382 .menu-dog-ear-color {
    color: #679B35;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color383 {
    background-color: #7B1A57 !important;
    border-bottom-color: #7B1A57;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color383 .menu-dog-ear-color {
    color: #7B1A57;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color384 {
    background-color: #983456 !important;
    border-bottom-color: #983456;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color384 .menu-dog-ear-color {
    color: #983456;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color385 {
    background-color: #006B53 !important;
    border-bottom-color: #006B53;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color385 .menu-dog-ear-color {
    color: #006B53;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color386 {
    background-color: #AC6F3B !important;
    border-bottom-color: #AC6F3B;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color386 .menu-dog-ear-color {
    color: #AC6F3B;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color387 {
    background-color: #146E5A !important;
    border-bottom-color: #146E5A;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color387 .menu-dog-ear-color {
    color: #146E5A;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color388 {
    background-color: #D18B50 !important;
    border-bottom-color: #D18B50;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color388 .menu-dog-ear-color {
    color: #D18B50;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color389 {
    background-color: #0F1C72 !important;
    border-bottom-color: #0F1C72;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color389 .menu-dog-ear-color {
    color: #0F1C72;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color390 {
    background-color: #CB4B3A !important;
    border-bottom-color: #CB4B3A;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color390 .menu-dog-ear-color {
    color: #CB4B3A;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color391 {
    background-color: #3A9A85 !important;
    border-bottom-color: #3A9A85;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color391 .menu-dog-ear-color {
    color: #3A9A85;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color392 {
    background-color: #88A438 !important;
    border-bottom-color: #88A438;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color392 .menu-dog-ear-color {
    color: #88A438;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color393 {
    background-color: #AB541F !important;
    border-bottom-color: #AB541F;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color393 .menu-dog-ear-color {
    color: #AB541F;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color394 {
    background-color: #CF241F !important;
    border-bottom-color: #CF241F;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color394 .menu-dog-ear-color {
    color: #CF241F;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color395 {
    background-color: #812C69 !important;
    border-bottom-color: #812C69;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color395 .menu-dog-ear-color {
    color: #812C69;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color396 {
    background-color: #143247 !important;
    border-bottom-color: #143247;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color396 .menu-dog-ear-color {
    color: #143247;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color397 {
    background-color: #AB6F1F !important;
    border-bottom-color: #AB6F1F;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color397 .menu-dog-ear-color {
    color: #AB6F1F;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color398 {
    background-color: #9D7121 !important;
    border-bottom-color: #9D7121;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color398 .menu-dog-ear-color {
    color: #9D7121;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color399 {
    background-color: #641D5B !important;
    border-bottom-color: #641D5B;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color399 .menu-dog-ear-color {
    color: #641D5B;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color400 {
    background-color: #EFAF5A !important;
    border-bottom-color: #EFAF5A;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color400 .menu-dog-ear-color {
    color: #EFAF5A;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color401 {
    background-color: #D6B257 !important;
    border-bottom-color: #D6B257;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color401 .menu-dog-ear-color {
    color: #D6B257;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color402 {
    background-color: #236767 !important;
    border-bottom-color: #236767;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color402 .menu-dog-ear-color {
    color: #236767;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color403 {
    background-color: #1A496E !important;
    border-bottom-color: #1A496E;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color403 .menu-dog-ear-color {
    color: #1A496E;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color404 {
    background-color: #7C005A !important;
    border-bottom-color: #7C005A;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color404 .menu-dog-ear-color {
    color: #7C005A;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color405 {
    background-color: #E68E45 !important;
    border-bottom-color: #E68E45;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color405 .menu-dog-ear-color {
    color: #E68E45;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color406 {
    background-color: #145E5E !important;
    border-bottom-color: #145E5E;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color406 .menu-dog-ear-color {
    color: #145E5E;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color407 {
    background-color: #4D1246 !important;
    border-bottom-color: #4D1246;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color407 .menu-dog-ear-color {
    color: #4D1246;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color408 {
    background-color: #ACCB52 !important;
    border-bottom-color: #ACCB52;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color408 .menu-dog-ear-color {
    color: #ACCB52;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color409 {
    background-color: #124D32 !important;
    border-bottom-color: #124D32;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color409 .menu-dog-ear-color {
    color: #124D32;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color410 {
    background-color: #BFE356 !important;
    border-bottom-color: #BFE356;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color410 .menu-dog-ear-color {
    color: #BFE356;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color411 {
    background-color: #42891D !important;
    border-bottom-color: #42891D;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color411 .menu-dog-ear-color {
    color: #42891D;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color412 {
    background-color: #CF4F1F !important;
    border-bottom-color: #CF4F1F;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color412 .menu-dog-ear-color {
    color: #CF4F1F;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color413 {
    background-color: #6F2A1A !important;
    border-bottom-color: #6F2A1A;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color413 .menu-dog-ear-color {
    color: #6F2A1A;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color414 {
    background-color: #A64000 !important;
    border-bottom-color: #A64000;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color414 .menu-dog-ear-color {
    color: #A64000;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color415 {
    background-color: #14787D !important;
    border-bottom-color: #14787D;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color415 .menu-dog-ear-color {
    color: #14787D;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color416 {
    background-color: #9D5A21 !important;
    border-bottom-color: #9D5A21;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color416 .menu-dog-ear-color {
    color: #9D5A21;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color417 {
    background-color: #884308 !important;
    border-bottom-color: #884308;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color417 .menu-dog-ear-color {
    color: #884308;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color418 {
    background-color: #A04186 !important;
    border-bottom-color: #A04186;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color418 .menu-dog-ear-color {
    color: #A04186;
}
/* !important is required so the background will have an effect when printing */
.status-color-extra_color419 {
    background-color: #B01B5A !important;
    border-bottom-color: #B01B5A;
    -webkit-print-color-adjust: exact !important;
}

/* The status cell note "+" sign color */
.status-color-extra_color419 .menu-dog-ear-color {
    color: #B01B5A;
}
