::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

.board-wrapper{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}

.table-wrapper{
    box-sizing: content-box;
    padding-bottom: 190px;
    padding-top: 18px;
    padding-left: 16px;
    margin-top: 26px;
}
.table-items{
    height: 100%;
    width: 100%;
    outline: none;
    position: relative;
    padding-right: 30px;
}
.group-header-component{
    display: flex;
    position: relative;
}
.table-header{
    top: 0;
    height: 40px;
    display: flex;
    width: 100%;
}
.table-add-new-row{
    flex: 0 0 38px;
    font-size: 19px;
    max-width: 38px;
    min-width: 0px;
    padding: 3px 4px 0;
    text-align: center;
}
.table-main-menu{
    -ms-flex-align: center;
    align-items: center;
    background: white !important;
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 0 0 30px;
    flex: 0 0 30px;
    -ms-flex-pack: center;
    justify-content: center;
    max-width: 30px;
    padding-bottom: 1px;
    position: relative;
    z-index: 1;
}
.round-bg{
    background: black;
    border-radius: 20px;
    cursor: pointer;
    width: 20px;
    height: 20px;
    text-align: center;
    position: relative;
    transition: color 0.2s ease, background-color 0.2s ease, opacity 0.2s ease;
}
.round-bg:before{
    vertical-align: middle;
}
.round-bg:hover{
    background: #009AAA;
}
.name-column-header {
    position: relative;
    min-height: 40px;
    text-align: left;
    font-size: 18px;
    background: white;
    border-right: 1px solid #fff;
    -ms-flex: 1 0 308px;
    flex: 1 0 308px;
    min-width: 0px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-bottom: 1px;
    z-index: 1;
}
.name-column-header .column-header-inner {
    min-width: 0px;
    width: 100%;
    display: -ms-flexbox;
    display: flex;
}
.name-column-header .group-name:not(.renaming-group) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
group-header-component .name-column-header .group-name {
    position: relative;
    transition: margin-left 0.1s ease;
}
.ds-editable-component {
    min-width: 0;
}
.ds-text-component {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border: 1px solid transparent;
    padding: 0 2px;
}

.name-column-header .drag-handle {
    cursor: move;
    position: absolute;
    display: none;
    top: 10px;
    left: 24px;
    font-size: 13px;
    color: #c4c4c4;
}
.name-column-header .collapse-group-button {
    position: absolute;
    display: none;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
}

.round-bg-invert{
    color: #ffffff;
    background: #009AAA;
    border-radius: 20px;
    cursor: pointer;
    width: 20px;
    height: 20px;
    text-align: center;
    position: relative;
    transition: color 0.2s ease, background-color 0.2s ease, opacity 0.2s ease;
}
.round-bg-invert:before{
    vertical-align: middle;
}
.round-bg-invert:hover{
    background: none;
    border:1px solid #009AAA;
    color: #009AAA;
}
.column-menu-drop-down-holder{
    position: relative;
    transition: all 50ms ease-in;
    transition-property: opacity, width;
    font-size: 16px;
    padding: 8%;
}
.column-header{
    flex-basis: 130px;
}
.dropdown-menu{
    max-height:350px;
    overflow-y:auto;
}
.dropdown-item i{
    margin-right: 5%;
}
.dropdown-item span{
    left: 2%;
}
.cursor-pointer{
    cursor: pointer;
}
.zoomColor{
    position: absolute;
    z-index: 9999;
    border: 2px solid #c4c4c4;
    border-radius: 5px;
    width: 50px;
    height: 50px;
}
/*#first-level-content .currentBoard .board-content-items::before { transform: translateX(0px) !important; content: ""; position: absolute; width: 16px; background: white; left: -16px; top: 0; bottom: 0; z-index: 100000;}
#first-level-content .board-header { transform: translate3d(0px, 0, 0) !important }
#first-level-content .currentBoard .board-menu-dialog-wrapper { transform: translateX(0px) !important }
#first-level-content .board-with-keyboard-overlay { transform: translate3d(0px, 0, 0) !important }
#first-level-content .currentBoard .cross-board-header { transform: translate3d(687px, 0, 0) !important }
#first-level-content .currentBoard .group-header-component.floating { transform: translateX(0px) !important }
#first-level-content .currentBoard .group-menu-dialog-wrapper:not(.floating) { transform: translateX(0px) !important }
#first-level-content .currentBoard .lookup-cell .name-cell { transform: none !important; background-color: transparent !important; box-shadow: none; z-index: 0}

#first-level-content .currentBoard .pulse-menu-dialog-wrapper { transform: translateX(0px) !important }
#first-level-content .currentBoard .board-banner-component { transform: translate3d(0px, 0, 0) !important }
#first-level-content .currentBoard .group-header-component .group-menu { transform: translateX(687px) !important }
#first-level-content .currentBoard .pulse-menu-component { transform: translateX(0px) !important }
#first-level-content .currentBoard .empty-block-before-columns { transform: translateX(0px) !important }*/

